*{
  padding: 0;
  margin: 0;
  font-family: Arial;
}
a{
  text-decoration: none;
  color: unset;
}
body{
}
.main__body{
  padding: 1em;
}
.main{
  border: solid 1px #D1D2D5;
  z-index: 1;
  border-radius: 7px;
  max-width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
  box-shadow: 0px 0px 5px rgb(181,181,181);
}
.main__header{
  width: 100%;
  height: 40%;
  position: relative;
  overflow: hidden;
}
.h__image{
  position: absolute;
}
.h__image img{
  width: 100%;
}

.main__footer{
  background-color: #ffffff;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  text-align: center;
}
.f__image{
  position: absolute;
  margin-top: -3.6em;
  left: auto;
}
.f__image img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: solid 4px #ffffff;
}
.text{
  margin-top: 3.5em;
  text-align: center;
  line-height: 1.5em;
}
h1{
  font-size: 22px;
  font-weight: 900;
}
.ih2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.scon{
  margin-top: 2px;
  padding-right: 0.5em;
}
h2{
  font-size: 15px;
  color: #66676B;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #ffffff;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    position: absolute;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(138,138,138,0.765);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1)::before{
  content: "dei";
  color: #ffffff;
  text-transform: uppercase;
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



.foot {
  z-index: 500;
  color: back;
  display: flex;
  justify-content: center;
  
}
.foot span{
  position: absolute;
  font-size: 13px;
  font-weight: 600;
}


@media only screen and (min-width: 600px) {
  .main__body{
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  .main{
  margin: 5px;
  border: solid 1px #D1D2D5;
  z-index: 1;
  border-radius: 5px;
  width: 300px;
  height: 220px;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}


.foot {
  z-index: 500;
  color: back;
  display: flex;
  justify-content: center;
  margin-top: -5em;
}
}